<div class="row">
  <h1>〇〇を支える技術ジェネレーター</h1>
</div>

<div class="row">
  <div class="col-lg-5">
    <%= render 'form', sasaeru: @sasaeru %>
  </div>

  <div class="col-lg-5">
    <%= image_tag "sasaeru.jpg", width: "450px" %>
  </div>
</div>
