<header class="row mb-3 ml-2">
  <div class="col-md-8 mx-auto">
    <h1>〇〇を支える技術ジェネレーター</h1>
  </div>
  <div class="col-md-2">
    <%= link_to "https://github.com/matt-note/sasaeru_generator" do %>
      <%= image_tag("github.png", size: "42x42", class: "d-block github-link mt-2 ml-5") %>
    <% end %>
  </div>
</header>
